[submodule "tokenomics"]
	path = tokenomics
	url = https://github.com/tugot17/tokenomics
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "sglang-setup/sglang"]
	path = sglang-setup/sglang
	url = https://github.com/sgl-project/sglang.git
[submodule "vllm-setup/vllm"]
	path = vllm-setup/vllm
	url = https://github.com/vllm-project/vllm
